{% extends 'website/base.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-12 text-center mt-5">
                <h1 class="h1-style">O Autorze</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 text-center mt-3">
                <span class="app-content">
                    Jestem studentem informatyki który chce opanować podsatawy web develompentu właśnie przez tworzenie takich projektów<br>
                    Jako ,że jest to moja druga aplikacja pisana przy użyciu frameworka Django nie wszystko może działać za co przepraszam<br>
                    Postaram się dołożyć wszelkich starań by było jak najmniej problemów ,ale jestem tylko człowiekiem<br>
                    Dlatego byłbym wdzięczny gdyby każdy kto znajdzie jakiś problem wysłał mi wiadomość na maila z tytułem: Chatted-problems<br>
                    Mój mail to: chattedproblems@gmail.com<br>
                    Za każdą pomoc szczerze dziękuje :)
                </span>
            </div>
        </div>
    </div>
{% endblock %}