{% extends 'website/base.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-12 text-center mt-5">
                <h1 class="h1-style">Opis aplikacji</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 text-center mt-4">
                <span class="app-content">
                    Założenia aplikacji są całkiem proste ma ona jeden cel którym jest pomoc w znalezienu nowych znajomośći.<br>
                    Oczywiście wszystkie osoby są całkowicie anonimowe do momentu ,aż same nie wyjawią swoich informacji.<br>
                    Cała zabawa polega na tym ,że zostajemy połączeni z losowymi użytkownikami z którymi możemy rozpocząć rozmowę<br>
                    Dla chętnych można założyć konto które pozowli na dodanie swoich nowych znajomości do konta i późniejszą kontunuację konwersacji<br>
                    Chociaż dla samego korzystania nie jest to konieczne lecz zalecane dla większego bezpieczeństwa<br>
                    Na koniec zostaje mi życzyć powodzenia i dobrej zabawy :)
                </span>
            </div>
        </div>
    </div>
{% endblock %}