{% extends 'website/base.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-12 text-center">
                <h1 class="h1-style">Kontakt</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <span class="app-content">
                    E-mail: konradjop91@gmail.com <br>
                </span>
            </div>
        </div>
        <div class="row align-items-end mt-5 text-center">
            <div class="col-md-3 box-content">
                <a class="link-style" href="https://github.com/jopyslaw?tab=repositories"><i class="icon-github-circled github-color"></i></a>
            </div>
            <div class="col-md-3 box-content">
                <a class="link-style" href="#"><i class="icon-linkedin linkedin-color"></i></a>
            </div>
            <div class="col-md-3 box-content">
                <a class="link-style" href="#"><i class="icon-twitter twitter-color"></i></a>
            </div>
            <div class="col-md-3 box-content ">
                <a class="link-style" href="#"><i class="icon-facebook fb-color"></i></a>
            </div>
        </div>
    </div>
{% endblock %}